@media (max-width: 1190px){

	.banner{
		.banner-content{
			width: 90%;
		}
		.banner-intro{
			margin-top: 30px;
		}
	}

	.t-huge, .t-huge p{
		font-size: 40px;
		line-height: 55px;
	}
	.t-lg, .t-lg p{
		font-size: 30px;
		line-height: 45px;
	}
	.t-md, .t-md p{
		font-size: 25px;
		line-height: 30px;
	}
	.l-header{
		.navbar-brand{
		    padding: 10px 10px;
		    border: none;
		    img{
		    	width: 100px;
		    }
		}
	}
	.section-rsvp{
		text-align: center;
		span{
			display: block;
			width: 100%;
			margin-bottom: 10px;
		}
		.btn{
			margin-bottom: 15px;
		}
	}
	.toggle-menuwrapper{
		display: block!important;
		opacity: 1!important;
	}
	#nav-primary{
		display: none;
	}
	.l-header{
		.navbar-brand{
		    width: 100%;
		    position: relative;
		    display: block;

		    img{
    			margin: 0 auto;
		    }
		}
	}
	
}

@media (max-width: 820px){
	
	.t-reset{
		text-align: inherit!important;
	}
	.banner{
		.banner-actions{
			.t-title{
				color: #000;
			}
		}
		.banner-intro{
			margin-top: 30px;
	    	padding: 0px 0 0px!important;

	    	&:before, &:after{
	    		content:'';
	    		display: none;
	    	}
		}
	}
	.footer-logo{
		display: none;
	}

	.pagination-single{
		li{
			width: 100%;

		}
		.back{
			border-right: none!important;
			border-left: none!important;
			border-top: 1px solid @base_border_color;
			border-bottom: 1px solid @base_border_color;
		}
		.label,a,span{
			text-align: center!important;
		}
	}
	.t-huge, .t-huge p{
		font-size: 30px;
		line-height: 45px;
	}
	.t-lg, .t-lg p{
		font-size: 25px;
		line-height: 40px;
	}
	.t-md, .t-md p{
		font-size: 20px;
		line-height: 35px;
	}
	.section-l1{
		padding: 25px 0;
	}
	.section-l2{
		padding: 35px 0;
	}
	.section-l3{
		padding: 50px 0;
	}
	.section-l4{
		padding: 60px 0;
	}
	.grid-isotope{

		.grid-item{
			width: 49%;
		}
	}
}

@media (max-width: 670px){
	.btn-lg{
		font-size: 15px;
	}
	.btn{
		.fa{
			display: none;
		}
	}

	.t-huge{
		font-size: 20px;
		line-height: 30px;
	}
	.t-lg,.t-md,.t-sm, .t-lg p, .t-md p, .t-sm p{
		font-size: 15px;
		line-height: 25px;
	}
	.section-l1{
		padding: 20px 0;
	}
	.section-l2{
		padding: 30px 0;
	}
	.section-l3{
		padding: 40px 0;
	}
	.section-l4{
		padding: 45px 0;
	}
	.section-contact{
		padding: 20px 10px;
		text-align: center;
		.contact-avatar{
			margin-right: 0;
			margin-bottom: 20px;
			display: block;
			width: 100%;

			img{
				margin: 0 auto;
			}
		}
	}
	.nav-tabs{
		li{
			display: block;
			width: 100%;
			border-right: none!important;
			border-left: none!important;
			a{
				border: none!important;
			}

			& ~ li{
				border-top: 1px solid @base_border_color;
			}
		}
	}
}

@media (max-width: 580px){
	.atu-error{
		li{
			float: none;
			width: 100%;

		}
	}
	.grid-isotope{

		.grid-item{
			width: 100%;
		}
	}
	.btn{
		display: block;
		width: 100%;
		margin-right: 0!important;
		margin-left: 0!important;
	}
}

@media (max-width: 400px){
	
	.slide-title{
		font-size: 16px!important;
	}
	.banner{
		.banner-actions{
			padding: 10px 10px 0;
			.t-title{
				display: none;
			}
		}
		.banner-intro{
			display: none;
		}

	}
	.widget-footer{
		margin-top: 30px;
	}
	.post-inline{
		.post-img{
			float: none;
			display: block;
			margin-bottom: 20px;

			img{
				width: 100%;
			}
		}
	}
	.section-l1{
		padding: 10px 0;
	}
	.section-l2, .section-l3, .section-l4 {
		padding: 20px 0;
	}
	
}
