.fbFeedbackContent .composer{
	background-color: #fff!important;
	border: 1px solid @base_border_color!important;
}

#stwrapper, #stOverlay{
	display: none!important;
}

.stMainServices{
	min-height: 22px;
}

.modal-footer{
	margin-top: 0px!important;
}